@using ServicesManagement.Web.Models;
@{
    ViewBag.Title = "WMS Cedis";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<OrdersCedis> orders = ViewBag.Cedis as List<OrdersCedis>;
}
<h2>WMS CEDIS - Procesos de Contingencia</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead style="background-color: #ed5565 !important;color: #ffffff">

                    @*background-color: #ed5565 !important;
                        color: #ffffff;*@
                    <tr>
                        <th>Numero de Pedido</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrdersCedis item in orders)
                    {
                        <tr>
                            <td><a title='Click para ver el detalle de la orden' class='link-primary' onclick='PopUp("@item.UeNo",@item.OrderNo)'>@item.UeNo</a></td>
                            <td>@item.Estatus</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="dlgDetalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle del Pedido</h4>
                <input type="hidden" id="hddUeno" />
                <input type="hidden" id="hddOrderId" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <select id="combo" class="form-control">
                            <option value="99">--Seleccione una opción--</option>
                            <option value="0">Finalizar Surtido</option>
                            <option value="7">Cancelación</option>
                            <option value="8">Aceptar Orden</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <table id="tblDetalle" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
                            <thead class="bg-danger-sor">
                                <tr>
                                    <th></th>
                                    <th>SKU</th>
                                    <th>EAN</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad Solicitada</th>
                                    <th>Precio</th>
                                    <th>Cantidad Surtida/A Confirmar</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="Enviar()" class="btn btn-primary">Enviar</button>
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        function PopUp(Ueno,Orderid) {
            $("#hddUeno").val(Ueno);
            $("#hddOrderId").val(Orderid);
            //$("#dlgDetalle").modal('toggle');


            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetCedisDetalle", "Home")',
                data: {
                    UeNo: Ueno,
                    OrderNo: Orderid
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {

                        $('#tblDetalle tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');

                            tr.append("<td><input type='checkbox'  id='" + json.resp[i].SKU + "' value='" + json.resp[i].SKU+"'/></td>");
                            tr.append("<td>" + json.resp[i].SKU + "</td>");
                            tr.append("<td>" + json.resp[i].EAN + "</td>");
                            tr.append("<td>" + json.resp[i].Descripcion + "</td>");
                            tr.append("<td>" + json.resp[i].Piezas + "<input type='text' style='display:none;' disabled readonly class='form-control' id='Cant-" + json.resp[i].SKU + "' disabled value='" + json.resp[i].Piezas + "' /></td>");
                            tr.append("<td>" + json.resp[i].Precio + "</td>");
                            tr.append("<td><input type=number id='nCant-" + json.resp[i].SKU + "' class='form-control-sm' value='0.00' /></td>");


                            $('#tblDetalle').append(tr);
                        }

                        $("#dlgDetalle").modal('toggle');
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }

        function Enviar() {

            var table = document.getElementById("tblDetalle");
            var checkboxes = table.querySelectorAll('input[type=checkbox]');
            var _estatus = $("#combo").val();
            if (_estatus == "99")
            {
                $("#combo").focus();
                return false;
            }
            //var val = checkboxes[0].checked;
            var check = false;
            var cantOk = true;

            for (var i = 0; i < checkboxes.length; i++) {

                if (checkboxes[i].checked) {
                    check = true;
                }
            }

            if (!check) {
                alert('Por favor, debe seleccionar un articulo');
                return false;
            }

            for (var i = 0; i < checkboxes.length; i++) {

                var id = checkboxes[i].value;

                var idnCant = 'nCant-' + id;
                var idCant = 'Cant-' + id;
                debugger;
                if (checkboxes[i].checked) {


                    var can = $("#" + idCant).val();
                    var nCan = $("#" + idnCant).val();
                    debugger;
                    //if (parseFloat(nCan) > parseFloat(can)) {
                    //    cantOk = false;
                    //    break;
                    //}
                    if (parseFloat(nCan) > parseFloat(0)) {
                        cantOk = true;
                        /* break;*/
                    } else {
                        cantOk = false;
                    }


                } else {
                    $("#" + idnCant).val("0.00");
                }


            }

            if (!cantOk) {
                alert("La cantidad a devolver no puede ser menor a 0  ni mayor a la cantidad pedida");
                return false;
            }

            var list = new Array();

            for (var i = 0; i < checkboxes.length; i++) {
                var item = {};
                var id = checkboxes[i].value;

                var idnCant = 'nCant-' + id;
                var idCant = 'Cant-' + id;
                debugger;
                if (checkboxes[i].checked) {


                    item.NewQuantity = $("#" + idnCant).val();
                    item.ProductId = id;
                    list.push(item);
                }


            }


            var _UeNo= $("#hddUeno").val();
            var _OrderNo =  $("#hddOrderId").val();


            if (list.length == 0) {
                return;
            }

            debugger;

             $.ajax({
                async: false,
                type: "POST",
                   url: '@Url.Action("Enviar", "Home")',
                   data: JSON.stringify({

                    OrderNo: _OrderNo,
                    Products: list,
                    UeNo: _UeNo,
                    estatus: _estatus
                   }),

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (json) {
                    if (json.Success) {

                        //location.reload();
                        alert("Operacion realizada con éxito");
                        location.reload();
                    }
                    else {
                        alert(json.Message);
                    }

                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert(errorThrown);
                }

            });

        }
    $(document).ready(function () {
        $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
        $('#tblConsulta thead tr:eq(0) th').each(function (i) {
            if ($(this).attr('name') != "accion") {
                var title = $(this).text();
                $(this).html("<input type='search' class='form-control form-control-sm' placeholder='" + title + "' id='filtro"+i+"'  />");

                $('input', this).on('keyup change', function () {
                    debugger;
                    if (table.column(i).search() !== this.value) {
                        debugger;
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });

                $('input', this).on("input", function () {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                });
            } else {
                $(this).empty();
            }
        });

        table = $('#tblConsulta').DataTable(
            {

                language:
                {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"

                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"

                    },
                    "buttons": {
                        "print": "Imprimir",
                        "pageLength": 'Mostrar %d Registros'

                    }
                },
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 Registros', '25 Registros', '50 Registros', 'Mostrar Todos']
                ],
                buttons: [
                    { extend: 'pageLength', className: 'btn-primary' }
                    //{ extend: 'excel', className: 'btn-primary' },
                    //{
                    //    text: 'Cotizacion',
                    //    action: function (e, dt, node, config) {
                    //        //var e = document.getElementById("ProveedorLista");
                    //        //e.disabled = false;

                    //        document.getElementById("TarifaFija").value = "SI";
                    //        document.getElementById("cp_origen").value = '';
                    //        document.getElementById("cp_destino").value = '';
                    //        document.getElementById("in_ancho").value = '';
                    //        document.getElementById("in_alto").value = '';
                    //        document.getElementById("in_peso").value = '';
                    //        document.getElementById("in_largo").value = '';

                    //        $("#frmAltaTrans").modal('show');

                    //    }
                    //    , className: 'btn-primary'
                    //}
                ]
                //,"fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                //    if (aData[1] == "SETC") {
                //        $('td', nRow).css('background-color', '#B6BF00');
                //    } else if (aData[2] == "4") {
                //        $('td', nRow).css('background-color', 'Orange');
                //    }
                //}
            }
        );
    })

    </script>

}
